# intro to nlp

## python skills

In [1]:
#variables
#string, integers, floats, boolean

my_str = "columbia"
my_o_str = "Columbia"

print(my_str,my_o_str)

columbia Columbia

In [2]:
#string equivancy is done by '=='
my_str == my_o_str

False

In [3]:
my_o_str = my_o_str.lower()
print(my_o_str)

columbia

In [4]:
# string concatenate
str_cat = my_o_str + " " +my_str
str_cat

'columbia columbia'

In [5]:
rep = str_cat * 10
rep

'columbia columbiacolumbia columbiacolumbia columbiacolumbia columbiacolumbia columbiacolumbia columbiacolumbia columbiacolumbia columbiacolumbia columbiacolumbia columbia'

In [6]:
len(my_str)

8

## python math calculation

In [7]:
# math calculation
my_int = 1
my_float = 3.14
my_bool = True # false

In [8]:
str_int = "1234567"
my_example = int(str_int)
type(my_example)

int

## python data type

### list

In [9]:
# it show zero at first because there is nothing in it
my_list = []
len(my_list)

0

In [10]:
# list manipulation
# start at index zero
my_list.append('bob')
my_list.append('sue')
my_list

['bob', 'sue']

In [14]:
url = "https://finance.yahoo.com/quote/ASTS/"
the_ans = url.split('/')
the_ans

['https:', '', 'finance.yahoo.com', 'quote', 'ASTS', '']

In [15]:
the_ans = the_ans[-2]
the_ans

'ASTS'

## set

In [12]:
my_set  = set([1,2,3,4,5])
my_set_a = set([2,3,4,5,56,78])

In [13]:
my_set.add('nyc')
my_set.add('20-24')
my_set.add(123)
my_set

{1, 123, 2, '20-24', 3, 4, 5, 'nyc'}

### set manipulation

In [20]:
# now we have two set
# what are all the attributes between this two sets use UNION
the_union = my_set.union(my_set_a)
the_union
# INTERSECTION
the_inter = my_set_a.intersection(my_set)
the_inter
#DIFFERENCES
#what is unique in a set
# 这个diff的意思是my set里面有什么跟my set a不一样，order matter
set_a_diff = my_set.difference(my_set_a)
set_a_diff
#这个是my set a里有什么跟my set不一样
asym_diff = my_set_a.difference(my_set)
asym_diff

{56, 78}