# NLP HW 3
Min Zhuang mz3067

Build a function, called word_prob, that outputs probabilities, for every possible topic [all, fishing, hiking, machinelearning, mathematics] that a token or  sequential token combination (the user input to the function) shows up in an arbitrary textual based column  (body, body_sw, body_sw_stem), dictated by the user, from the dataframe, the_data, we have been using  in class.  The output dictionary of the function needs to have the following keys:


all: <probability the sequential input token(s) shows up in ALL the corpuses

fishing: <probability the sequential input token(s) shows up in the fishing corpuses

hiking: <probability the sequential input token(s) shows up in the hiking corpuses

machinelearning: <probability the sequential input token(s) shows up in the machinelearning corpuses

mathematics: <probability the sequential input token(s) shows up in the mathematics corpuses

 

The 'value' field of a dictionary is to have a value of None if the token(s) do not show up

NOTE: If there are a total of 100 tokens, and the count of a specific token is 12, the probability of that token showing up is 12/100=.12

In [1]:
# lib import if needed
import re
import os
import pandas as pd
import collections
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

#lecture 6 lib
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\miche\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\miche\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\miche\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
# utils file and data file
from utils import *
the_path = 'C:/Users/miche/Downloads/data/'
sample_path = 'C:/Users/miche/Downloads/data/mathematics/www.maa.org_123441873000.txt'

In [3]:
the_data = file_crawler(the_path)

C:/Users/miche/Downloads/data/fishing/UK MongoBD report Nov122018.xls
C:/Users/miche/Downloads/data/fishing/UK segment count Nov122018.xlsx
C:/Users/miche/Downloads/data/fishing/UK vendor count Nov122108 .xlsx

In [4]:
the_data

                                                  body        label
0    dnr weekly fishing report dnr home contact dnr...      fishing
1    dnr fishing guide regulations header in gov ma...      fishing
2    nh hunting and fishing licenses new hampshire ...      fishing
3    bait tackle closed outdoor gear e columbia ave...      fishing
4    rescued from capsized sport fishing boat at nc...      fishing
..                                                 ...          ...
254  uc santa cruz mathematics department skip to m...  mathematics
255  department of mathematics van vleck hall linco...  mathematics
256  department of mathematics university of pittsb...  mathematics
257  siam society for industrial and applied mathem...  mathematics
258  yasiin bey mathematics lyrics genius lyrics fa...  mathematics

[259 rows x 2 columns]

In [16]:
the_data['body_sw'] = the_data['body'].apply(rem_sw)  # Remove stop words
the_data['body_sw_stem'] = the_data['body_sw'].apply(lambda x: stem_fun(x, "stem"))  # Remove stop words and stem

In [18]:
the_data[['body', 'body_sw', 'body_sw_stem']]

,body,body_sw,body_sw_stem
0,dnr weekly fishing report dnr home contact dnr...,dnr weekly fishing report dnr home contact dnr...,dnr weekli fish report dnr home contact dnr dn...
1,dnr fishing guide regulations header in gov ma...,dnr fishing guide regulations header gov main ...,dnr fish guid regul header gov main navig busi...
2,nh hunting and fishing licenses new hampshire ...,nh hunting fishing licenses new hampshire fish...,nh hunt fish licens new hampshir fish game dep...
3,bait tackle closed outdoor gear e columbia ave...,bait tackle closed outdoor gear e columbia ave...,bait tackl close outdoor gear e columbia ave p...
4,rescued from capsized sport fishing boat at nc...,rescued capsized sport fishing boat nc outer b...,rescu capsiz sport fish boat nc outer bank wnc...
...,...,...,...
254,uc santa cruz mathematics department skip to m...,uc santa cruz mathematics department skip main...,uc santa cruz mathemat depart skip main conten...
255,department of mathematics van vleck hall linco...,department mathematics van vleck hall lincoln ...,depart mathemat van vleck hall lincoln drive m...
256,department of mathematics university of pittsb...,department mathematics university pittsburgh p...,depart mathemat univers pittsburgh pitt bar li...
257,siam society for industrial and applied mathem...,siam society industrial applied mathematics si...,siam societi industri appli mathemat siam jour...
258,yasiin bey mathematics lyrics genius lyrics fa...,yasiin bey mathematics lyrics genius lyrics fa...,yasiin bey mathemat lyric geniu lyric facebook...

In [5]:
import collections

In [13]:
def word_prob(the_data, token_sequence, col_in='body'):
    labels = ['all', 'fishing', 'hiking', 'machinelearning', 'mathematics']
    result = {t: None for t in labels}

    for label in labels:
        if label == 'all':
            label_data = the_data[col_in]
        else:
            label_data = the_data[the_data['label'] == label][col_in]

        combined_text = ' '.join(label_data) #对应label合并成一个combined text
        tokens = combined_text.split() #把字符串split成tokens
        total_tokens = len(tokens) #算分母
        token_sequence_count = combined_text.count(token_sequence) #算分子

        if token_sequence_count > 0 and total_tokens > 0:
            result[label] = token_sequence_count / total_tokens
        else:
            result[label] = 0 
    return result

In [19]:
word_prob(the_data, "good",col_in = "body_sw")

{'all': 0.0012592362081068759,
 'fishing': 0.002261199046629591,
 'hiking': 0.0018096175852250047,
 'machinelearning': 0.0006185669041963578,
 'mathematics': 0.00025491624180626365}