### Text data related manipulation
**jaccardian measure**
*  measurement of how simialr two string is (frequenct check) 
*  intersection (shared number of token)/total number of tokens

In [2]:
str_a = 'the weather today is really beautiful'
str_b = 'the weather today is nice'

In [16]:
# measurement of how simialr two string is (frequenct check)
# Jaccardian measure
# intersection (shared number of token)/total number of tokens

def jd_fun(str_a, str_b):
    jaccardian_index = None
    try:
        set_a = set(str_a.split())
        set_b = set(str_b.split())
        intersection = len(set_a.intersection(set_b))
        union = len(set_a.union(set_b))
        jaccardian_index = intersection/union
    except:
        print('there is a problem')
        pass
    return jaccardian_index 

similarity = jd_fun(str_a, str_b)
print(f'jaccadian similarity = {similarity}')

jaccadian similarity = 0.5714285714285714

create a function call hello world and run it

In [12]:
def hello_world():
    print('hello world')
hello_world()

hello world

In [11]:
def add_fun(var_a, var_b):
    tmp = var_a + var_b
    return tmp
the_ans = add_fun(4,8)
print(f'the answer is {the_ans}')

the answer is 12

In [ ]:
# create a functio that takes 2 corpuses and outputs the jaccardian measure
# 同上

## Data structure: dictionary
* key,value pair
    * key is unique

### structure to input a dictionary

In [24]:
the_dictionary = dict()
# print(the_dictionary)
the_dictionary['key_a'] = 'columbia'
the_dictionary['key_b'] = [1,4,6]
the_dictionary['key_c'] = {'key_blah' : 3.14}
the_dictionary

{'key_a': 'columbia', 'key_b': [1, 4, 6], 'key_c': {'key_blah': 3.14}}

In [26]:
the_keys = the_dictionary.keys()
the_keys
# or print(list(the_keys)), this will only return the keys as list

dict_keys(['key_a', 'key_b', 'key_c'])

In [27]:
# one can convert between data strucutres
list_a = set([1,4,6,6,7,8,9])
list_a

{1, 4, 6, 7, 8, 9}

In [33]:
# gotcha's with lists

list_a = ['a','A','a','f','x']
list_a_copy = list_a
list_a_true_copy = list_a.copy()
list_a.append('e')
print(list_a, list_a_copy)
# list_a_copy will also copy the list if you only use equal mark
# but, if we use copy() function, it will copy the original list
print(list_a_true_copy)

['a', 'A', 'a', 'f', 'x', 'e'] ['a', 'A', 'a', 'f', 'x', 'e']
['a', 'A', 'a', 'f', 'x']

In [40]:
list_e = ['columbia']
list_f = ['monday', 'television']
list_e.append(list_f)
# list_e
# this does not work

list_e.extend(list_f)
# using extend function in this scenario
list_e

['columbia', ['monday', 'television'], 'monday', 'television']

## looping statements

In [42]:
t = [1,2,3,4,5]
for i in t:
    print(i)

1
2
3
4
5

In [46]:
cnt = 0
while cnt < 10:
    print(cnt)
    cnt += 1

0
1
2
3
4
5
6
7
8
9

## class work
create function that ouputs a dictionary where each key is a unique token (word), and the value is the number ot times that a unique key shows up in the string \
input : string \
output: dictionary \

In [56]:
original_string = 'the cat chased the dog'
def string_to_dict(original_string):
    words = original_string.split()
    
    # create a empty dictionary?
    words_dict = dict()
    
    for word in set(words):
        words_dict[word] = words.count(word)
 '''
 # input a loop inside
    for word in words:
       if word in words_dict:
           words_dict[word] += 1
       else:
           words_dict[word] = 1
           
   my answer
 '''  
            
    return words_dict
print(original_string)
output_dict = string_to_dict(original_string)
print(f'the output dictionary is {output_dict}')

the cat chased the dog
the output dictionary is {'chased': 1, 'cat': 1, 'the': 2, 'dog': 1}

## collection library
**the libarary runs way more faster then defining function with loops**

In [60]:
original_string = 'the cat chased the dog'

def word_frequency(string):

    import collections
    word_freq = dict(collections.Counter(string.split()))
    return word_freq
freq = word_frequency(original_string)
freq

{'the': 2, 'cat': 1, 'chased': 1, 'dog': 1}

## pandas dataframe

In [70]:
import pandas as pd
my_pd = pd.DataFrame()
type(my_pd)
len(my_pd)

t_l = ['a','lololo','lashfuk','shudf']
for name in t_l:
    tmp = pd.DataFrame({"name": [name], "length": [len(name)]})
    my_pd = pd.concat([my_pd, tmp], ignore_index=True)
my_pd.head()

      name  length
0        a       1
1   lololo       6
2  lashfuk       7
3    shudf       5

In [76]:
stats = my_pd.describe()
stats

my_pd.columns = ['name', 'char_length']