### inclass note

manipulation of the pandas dataframe

In [5]:
import pandas as pd
my_pd = pd.DataFrame()
type(my_pd)
len(my_pd)

t_l = ['a','lololo','lashfuk','shudf', 'ahsdjkf', 'shdufk', 'hh']
for name in t_l:
    tmp = pd.DataFrame({"name": [name], "length": [len(name)]})
    my_pd = pd.concat([my_pd, tmp], ignore_index=True)
my_pd

      name  length
0        a       1
1   lololo       6
2  lashfuk       7
3    shudf       5
4  ahsdjkf       7
5   shdufk       6
6       hh       2

In [9]:
# slice a pandas dataframe
test_slice = my_pd[my_pd["length"] <= 4]
test_slice

  name  length
0    a       1
6   hh       2

In [7]:
my_pd["length"]

0    1
1    6
2    7
3    5
4    7
5    6
6    2
Name: length, dtype: int64

In [19]:
#write to a csv file
path = "/Users/shaobin233/Desktop/columbia qmss/nlp"
my_pd.to_csv(path + "data_fun.csv", index = False)

In [21]:
new_data = pd.read_csv("data_fun.csv")
new_data

      name  length
0        a       1
1   lololo       6
2  lashfuk       7
3    shudf       5
4  ahsdjkf       7
5   shdufk       6
6       hh       2

### boolean statement

In [24]:
a = 1
b = 4
c = 56

if a == 1:
    print("hello")
elif b == 3:
    print("class")
else:
    print("monday")

hello

In [26]:
# list comprehension
ar = [] #create a list
for i in range(0,10):
    ar.append(i*2)

In [29]:
ar = [word*2 for word in range(0,10)]

In [30]:
ar

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

these two statement contains the same function

In [31]:
ar_ex = ["ashuidf", "ahsudifl", "dufigk", "sgyrudfl"]
# create a dictionary using dictionary comprehension where the key is a word, and the value is length
dictionary_ex = {k:len(k) for k in ar_ex}
dictionary_ex

{'ashuidf': 7, 'ahsudifl': 8, 'dufigk': 6, 'sgyrudfl': 8}

In [33]:
dictionary_ex = dict()
for word in ar_ex:
    dictionary_ex[word] = len(word)

In [6]:
names = ["patrick", "bob", "sue", "jenny"]

def loop_fun(list_in):
    import pandas as pd
    my_pd_t = pd.DataFrame()  # Create an empty DataFrame
    for name in list_in:  # Loop through the provided list
        tmp = pd.DataFrame({"name": name, "len": len(name)}, index=[0])
        my_pd_t = pd.concat([my_pd_t, tmp], ignore_index=True)  # Corrected to 'concat'
    return my_pd_t

a = loop_fun(names)
print(a)

      name  len
0  patrick    7
1      bob    3
2      sue    3
3    jenny    5

### excercise
refactor the example above but if the number of chatacers in a nmae exceed 3, then do not manipulate the value out

In [9]:
import pandas as pd
names = ["patrick", "bob", "sue", "jenny"]

def loof_fun_re(list_in):
    my_pd_t = pd.DataFrame()
    for name in list_in:
        if len(name) <= 3:
            tmp = pd.DataFrame({"name": name, "len": len(name)}, index=[0])
            my_pd_t = pd.concat([my_pd_t, tmp], ignore_index=True)
    return my_pd_t

a = loof_fun_re(names)
print(a)

  name  len
0  bob    3
1  sue    3

### text data manipulation

In [17]:
the_path = "/Users/shaobin233/Desktop/columbia qmss/nlp/data/fishing/"
file_name = "fish_121827061000.txt"

In [27]:
def read_file(full_path_in):
    import re
    f = open(the_path + file_name, "r", encoding = "UTF-8")
    text = f.read().lower()
    text = re.sub("[^A-z']+", " ", text).strip()
    f.close
    
    return text

In [29]:
text_t = read_file(the_path + file_name)
text_t

"fish casper wyoming visitcasper book a room casper compass sports vacation guide industry meetings bike festivals fish galleries history hunting indoor activities museums music theatre outdoor activities parks rodeo trails calendar of events festivals hotels motels campgrounds rv parks guest ranches lodges eat casper mountain waterways historic casper museums shopping the road to yellowstone trails about industry meetings my trip sports book a room casper compass vacation guide big fish and lots of 'em wyoming's big fish destination share casper is widely considered to be wyoming s top fishing spot by anglers around the world fish the north platte river urban fly fishing ice fishing top local fishing secrets catch of the day grip 'n grin gallery video fish casper commercial fish casper snaps previous slide next slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide first slide details current slide hot spots miracle mile grey reef alcova reservoir pathfinder north platte river lakes reservoirs guides outfitters river sports cowboy drifters fish tales guide service grey reef anglers platte river fly shop the reef fly shop ugly bug fly shop wyoming anglers upcoming fish events in casper jan th th annual hawg ice fishing derby jan th th annual hawg ice fishing derby the year round mountain town where the wild at heart roam book a room e newsletter your up to the minute guide on all things casper things to do events stay eat explore about book a room casper compass contact us industry media meetings privacy policy sports vacation guide"

In [24]:
import re
text_pre = re.sub("[^A-z']+", " ", text)

The code is replacing all characters that are not:

*  Uppercase (A-Z)
*  Lowercase (a-z)
*  Apostrophes (')

with a single space (" "). Any sequence of such characters (like punctuation marks or special symbols) is collapsed into a single space.

In [26]:
import re

text = "Hello, world! It's 2024. Let's code #Python."
text_pre = re.sub("[^A-z'0-9]+", " ", text)

print(text_pre)

Hello world It's 2024 Let's code Python

In [ ]:
text_pre = re.sub("[^A-Za-z']+", " ", text).strip()

**[^A-Za-z']+** : This pattern is looking for any sequence of characters that are not:
*  Uppercase letters (A-Z)
*  Lowercase letters (a-z)
*  Apostrophes (')

+: This ensures that it matches one or more consecutive characters from the negated group (i.e., anything not a letter or apostrophe).

" ": The matched characters (which are not letters or apostrophes) are replaced by a single space.

This means that anything not a letter or apostrophe (like numbers, punctuation, symbols, etc.) is replaced with a space.

After the substitution, **.strip()** is used to remove any leading or trailing spaces from the resulting string.